@charset "UTF-8";
@import "./base.css";
@import "./loading.scss";

html {
  max-width: 750PX;
  margin: 0 auto;
}

.case-item {
  pre {
    white-space: pre;
  }
  &-header {
    padding: 30px;
  }
  &-content {
    padding: 16px;
  }
  &-control {
    margin: 16px 0;
  }
  &-footer {

  }
}